<div id="action-description">
  <p>This sample demonstrates the hierarchical binding of the Grid component. Click the expand button to view the child Grid
      of a particular record.
  </p>
</div>

<div class='div-button'>
  <button ejs-button (click)='onClick()' cssClass='e-info'>Load 5 Records</button>
</div>

<ejs-grid #grid [dataSource]='displayDataset' [childGrid]='childGrid' allowPaging='true'>
  <e-columns>
    <e-column field="_id" headerText="ID" textAlign="Left"></e-column>
    <e-column field="_index" headerText="Index" textAlign="Left"></e-column>
    <!-- <e-column field="Arriving From City Updated" headerText="Arriving From City Updated" textAlign="Left"></e-column> -->
    <e-column field="_score" headerText="Score" textAlign="Left"></e-column>
    <e-column field="_type" headerText="Type" textAlign="Left"></e-column>
  </e-columns>
</ejs-grid>
